.theme-background1-dk {background-color:#375fa7 !important;}
.theme-background2-dk {background-color:#8e8e8e !important;}
.theme-background1-lt {background-color:#8fa7bf !important;}
.theme-background2-lt {background-color:#e2e2e2 !important;}

.theme-color1-dk{color:#375fa7 !important;}
.theme-color2-dk{color:#8e8e8e !important;}
.theme-color1-lt{color:#8fa7bf !important;}
.theme-color2-lt{color:#e2e2e2 !important;}

.theme-border1-dk{border:1px solid #375fa7 !important;}
.theme-border2-dk{border:1px solid #8e8e8e !important;}
.theme-border1-lt{border:1px solid #8fa7bf !important;}
.theme-border2-lt{border:1px solid #e2e2e2 !important;}

.theme-bordertop1-dk{border-top:1px solid #375fa7 !important;}
.theme-bordertop2-dk{border-top:1px solid #8e8e8e !important;}
.theme-bordertop1-lt{border-top:1px solid #8fa7bf !important;}
.theme-bordertop2-lt{border-top:1px solid #e2e2e2 !important;}
